.todoList {
    list-style: none;
    width: 300px;
}

.listItem {
    display: flex;
    border: solid 1px #000000;
}

.id {
    flex: 1;
}

.itemContainer {
    flex: 9;
}

.button {
    flex: 1;
    margin: 0 auto;
}